* {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    width: 100%;
}

.file-region {
    display: block;
    position: relative;
    width: 70%;
    margin: 5% auto;
}

.file-item {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
}

.file-content {
    width: 100%;
    white-space: pre-wrap;
    border: 1px solid #ddd;
}
