* {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    width: 100%;
}

/* Menu region */
.menu {
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
    background-color: #f6f8fa;
}

.top-navigation {
    display: block;
    position: relative;
    width: 95%;
    height: 5%;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

.nav-project-path {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 30%;
}

.nav-project-path > img {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    vertical-align: middle;
    cursor: pointer;
}

.nav-project-path > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    padding: 0 2px;
    cursor: pointer;
}

.nav-project-path > span:hover {
    background-color: #eee;
}

.nav-search-bar {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 40%;
    text-align: center;
}

.nav-search-bar > input {
    width: 80%;
    height: 30px;
    border: 1px solid #d0d7de;
    border-radius: 5px;
}

.nav-user-photo {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 29%;
    text-align: right;
}

.nav-user-photo > img {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    border: 1px solid #1f232826;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    vertical-align: middle;
    cursor: pointer;
}

.menu-bar {
    position: relative;
    width: 95%;
    margin: auto;
}

.menu-item {
    float: left;
    width: 5vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    vertical-align: middle;
    padding: 0 2vw;
}

.menu-item:hover {
    background-color: #ddd;
    cursor: pointer;
}
/* Menu region end */


/* File explorer region */
.file-explorer {
    position: relative;
    width: 65%;
    margin: auto;
    margin-top: 10px;
}

.fe-select-menu {
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #f6f8fa;
}

.fe-select-menu-item {
    float: left;
    width: 7vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.fe-select-menu-item:hover {
    background-color: #ddd;
}

.branch-list {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
}

.branch-list-item {
    width: 100%;
    padding: 7px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.branch-list-item:hover {
    background-color: #eee;
}

.commit-list {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
}

.commit-list-item {
    width: 100%;
    padding: 7px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    box-sizing: border-box;
}

.commit-list-item:hover {
    background-color: #eee;
}

.file-region {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
}

.file-path {
    width: 100%;
    margin-bottom: 10px;
}

.file-item {
    position: relative;
    padding: 7px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.file-item:hover {
    background-color: #eee;
}

.file-item-name {
    cursor: pointer;
}

.file-content {
    width: 100%;
    white-space: pre-wrap;
    border: 1px solid #ddd;
}
/* File explorer region end */

/* Project explorer region */
.project-explorer {
    position: relative;
    width: 65%;
    margin: auto;
    margin-top: 10px;
}

.pe-select-menu {
    position: relative;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #f6f8fa;
}

.pe-select-menu-item {
    float: left;
    width: 7vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.pe-select-menu-item:hover {
    background-color: #ddd;
}

.item-active {
    border-bottom: 1px solid #fd8c73;
}

.project-list {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
}

.project-list-item {
    width: 100%;
    padding: 7px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.project-list-item-name {
    font-size: 25px;
    color: #0969da;
    cursor: pointer;
}

.project-list-item-name:hover {
    text-decoration: underline;
}

.project-list-item-description {
    color: #636c76;
    padding: 0 2px;
}

.project-list-item-stars {
    color: #636c76;
    padding: 0 2px;
}

.project-list-item-delete {
    position: relative;
    float: right;
    font-size: 40px;
    bottom: 60px;
    color: red;
    cursor: pointer;
}

.new-project {
    position: relative;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

.new-project-item {
    margin: 10px auto;
}

.new-project-item > span {
    display: inline-block;
    width: 10vw;
    font-size: 15px;
}

.new-project-item > input {
    height: 30px;
    width: 30vw;
}

.new-project-submit {
    height: 30px;
    width: 10vw;
    color: white;
    background-color: #1f883d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Project explorer region end */

/* User panel region */
.user-panel {
    position: fixed;
    z-index: 1;
    width: 20vw;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #f6f8fa;
    border-radius: 10px 0 0 10px;
    box-shadow: 0px 0px 0px 1px #d0d7de80, 0px 6px 12px -3px #424a530a, 0px 6px 18px 0px #424a531f;
}

.user-panel-header {
    position: relative;
    width: 90%;
    margin: 20px auto;
    height: 32px;
}

.user-panel-header-photo {
    position: relative;
    float: left;
    height: 100%;
    margin-right: 10px;
}

.user-panel-header-photo > img {
    position: relative;
    height: 100%;
    border: 1px solid #1f232826;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.user-panel-header-name {
    position: relative;
    float: left;
    height: 100%;
}

.user-panel-header-name > span {
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 50%;
}

.user-panel-header-username {
    color: #1f2328;
}

.user-panel-header-tickname {
    color: #636c76;
}

.user-panel-menu {
    position: relative;
    width: 90%;
    margin: 30px auto;
}

.user-panel-menu-item {
    position: relative;
    margin: 5px auto;
    padding: 15px;
    cursor: pointer;
    color: #1f2328;
}

.user-panel-menu-item:hover {
    background-color: #eee;
}
/* User panel region end */